/* Basic Configuration */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,700;0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
:root {
  --color-dark: #000;
  --color-white: #fff;
  --color-red: #cf0020;
  --color-bg:#c8c8c8;
  --color-text: #222;
  --color-end: #b7b7b7;
  --color-td-bg: #ddd;
  --color-important-td:#999;
  --color-blue: #483aad;
}

*,*::before,*::after{
  box-sizing: border-box;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto',sans-serif;
  background-color: #c8c8c8;
  font-weight: 500;
  color:var( --color-text);
}

.container{
  max-width: 1050px;
  margin:2rem auto;
  padding: 0 15px;
}
img {
  display: block;
  max-width:100%;
  width: 100%;
  height: auto;
}
a ,.title.title-2{
  color: var(--color-red);
  font-weight: bold;
}
strong {
  font-weight: 900;
  color: var(--color-dark);
}
em ,.explanation{
  font-style: italic;
}
.title {
  font-family:'Source Serif Pro',serif;
  font-weight: 700;
  color: var(--color-dark);
  margin:1rem 0;
}
.title.title-1 {
  font-weight: 900;
  font-size: 4rem;
  text-align:center;
}
.title.title-2 {
  font-size:2rem;
}
table {
  border-spacing:0;
}
thead {
  background-color: var(--color-text);
  color: var(--color-bg);
}
th,td {
  padding:10px;
}
tbody tr:nth-child(2n+1) {
  background-color: var(--color-td-bg);
}
tbody tr:hover {
  background-color: var(--color-important-td);
}
th {
  color: var(--color-td-bg);
}
.description-img {
  border:2px solid var(--color-red);
  color: var(--color-td-bg);
  background-color: var(--color-text);
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}
.description-img figcaption {
  font-style: italic;
  margin: 10px;
  padding:5px;
}
.ending{
  padding: 25px;
  margin:25px;
  border: 2px dashed var(--color-blue);
  color: var(--color-blue);
  background-color: var(--color-end);
}